@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.content{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .login{
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding: .5rem 1.5rem;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #fff;
    white-space: nowrap;
}
.content .logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    height: 30px;
    width: 150px;
}
.content .logo img{
    width: 100%;
    height: 100%;
}
.content .logo span{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    animation: animRize 1s cubic-bezier(0.95,0.05,0.795,0.035);
}
@keyframes animRize {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}

.content h1{
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.content h2{
    position: relative;
    top: -30px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.content .arrow{
    color: #fff;
    animation: animBounce 2s infinite;

}
@keyframes animBounce {
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
.content .button{
    position: relative;
    top: 30px;
}
.content .button .search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
    padding: 5px 10px;
    display: flex;
}
.content .button .search-box:hover{
    background-color: #2f3040;
}
.content .button .search-box .search-input{
    float: left;
    width: 0;
    background: none;
    color: #fff;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    transition: .4s;
}
.content .button .search-box:hover > .search-input{
    width: 250px;
    padding: 10px;

}
.content .button .search-box:focus-within{
    background: #2f3040;
    padding: 5px 10px;
}
.content .button .search-box:valid{
    width: 250px;
    background-color: #2f3040;
    border-radius: 40px;
    padding: 5px 10px;

}
.content .button .search-box .search-button{
    color: #fff;
    background: transparent;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #fff;
    white-space: nowrap;
    transition: .4s;
}
.content .button .search-box:hover > .search-button{
    color: #2f3040;
    background-color: #fff;
}
.content .button .search-box:hover > .search-button:hover{
    color: #fff;
    background-color: #5693d5;
}
.content .button .search-box:focus > .search-input{
    width: 250px;
    padding: 10px;

}
/* .content .button .search-box:focus > .search-button{
    color: #2f3040;
    background-color: #fff;
}
.content .button .search-box:focus > .search-button:hover{
    color: #fff;
    background-color: #5693d5;
} */
.content .icons{
    position: fixed;
    right: 2vw;
    bottom: 2vh;
}
.content .icons::before{
    content: '';
    position: absolute;
    top: -105%;
    height: 100%;
    width: 1px;
    background: #fff;
}
.content .icons a{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: .5s;
    display: block;

}
.content .icons a:hover{
    color: var(--clr);
    transform: scale(1.2);
}


@media (max-width: 1075px){
    .content h1{
        font-size: 3rem;
        letter-spacing: 2px;
    }
    .content h2{
        top: -25px;
        letter-spacing: 1px;
    }
}
@media (max-width: 920px){
    .content{
        width: 100%;
        padding: 1rem;
    }
    .content h1{
        font-size: 2.5rem;
    }
    .content h2{
        top: -20px;
        letter-spacing: 0px;
    }
    .content .icons{
        position: absolute;
        width: 100%;
        right: 0vw;
        bottom: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content .icons::before{
        display: none;
    }
    .content .icons a{
        margin: 0 15px;
    }
}